.details-page {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    background: red;
    padding-top: 5rem;
}

.details-page-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid yellow;
    border-radius: .5rem;
    padding: 4rem;
}

.pokemon-index-height,
.pokemon-index-weight,
.pokemon-index-prev_evolution,
.pokemon-index-next_evolution {
    font-size: .8rem;
    margin: .2rem 0;
}

.link {
    color: yellow;
    border-bottom: 2px solid yellow;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.link:hover {
    color: red;
    border-bottom: 2px solid red;
    cursor: pointer;
}

.back-button {
    border: 2px solid yellow;
    border-radius: .5rem;
    color: yellow;
    background: red;
    font-weight: 600;
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.back-button:hover {
    color: red;
    background: yellow;
}